# Using Sodapy to get entire results and then search

In [105]:
import os
import numpy as np
import pandas as pd
from sodapy import Socrata

In [106]:
model_number='6927'
home_url='https://data.energystar.gov/resource/3pic-tayf.json?model_number='
model_url=home_url+model_number

In [166]:
client = Socrata('data.energystar.gov','Lxccftl28Rf8Tgoxc9P8icoec',username="sriramgopal@mail.usf.edu",password="Lalitha@97")
results = client.get("3pic-tayf",limit=3000000)
results_df = pd.DataFrame.from_records(results)

In [167]:
results_df.shape

(17620, 36)

In [161]:
required_df=results_df.filter(['model_name','model_number','total_input_power_watts','correlated_color_temperature_kelvin','additional_model_information'])

In [162]:
required_df.head()

,model_name,model_number,total_input_power_watts,correlated_color_temperature_kelvin,additional_model_information
0,45584XXL16,CP158529XXL16,9,NaN,NaN
1,45938XXL16,CP158566XXL16,9,NaN,NaN
2,43941XXL16,CP158568XXL16,9,NaN,NaN
3,49689XXL16,CP158618OZL16,9,NaN,NaN
4,49688XXL16,CP158617OZL16,9,NaN,NaN

In [163]:
required_df.shape

(17620, 5)

In [168]:
sample=results_df[results_df['model_number'].str.contains('UCLD 12IN 30K 90CRI SWR WH',case=False)]

In [169]:
sample

,additional_model_information,alternate_energy_star_lamps_esuid,brand_name,bulb_dimmability,bulb_energy_star_partner,bulb_light_appearance_kelvin,bulb_model_number,can_rating_s,can_size_s,color_rendering_index_cri,...,markets,model_name,model_number,notes,pd_id,power_factor,r9,source_efficacy,special_features_dimming_motion_sensing_etc,total_input_power_watts
3903,",UCLD 12IN 40K 90CRI SWR BN,; ,UCLD 12IN 40K 9...",NaN,Lithonia Lighting,NaN,NaN,NaN,NaN,NaN,NaN,91,...,"United States, Canada",UCLD 12IN 30K 90CRI SWR WH,UCLD 12IN 30K 90CRI SWR WH,NaN,2272772,0.96,67,NaN,Continuously Dimmable,7.3

# search for model number in the website

In [97]:
model_test='8TRSG4DIM/827NF30/B/H'

In [148]:
model_test='UCLD 24IN 30K 90CRI SWR BN'

In [149]:
import requests
parameters={"model_number":model_test}
mytoken='LFk2Ri4_rPdsMH5v-Po2t2GVg3QzXSTRFrUE'
head = {'Authorization': 'token {}'.format(mytoken)}

In [150]:
response= requests.get("https://data.energystar.gov/resource/3pic-tayf.json",params=parameters)

In [151]:
print(response.content)

b'[]\n'